#index-page {
    padding: 0;
    margin: 0;
    border: none;
    background-image: url('../images/Background2.png');
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
  }