#add-btn, #deleteBtn{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    width: 3rem;
    height: 2rem;
    background-color: #D0E3D2;
    border-radius: 10px;
    border: none;
}

#add-btn:hover, #deleteBtn:hover{
    background-color: #B6C7B8;
}

#deleteBtn{
    margin-left: 1rem;
    margin-top: 0.5rem;
}

#input-flag{
    font-family: 'Inter', sans-serif;
    border: none;
    width: 17rem;
    height: 2rem;
    border-radius: 10px;
    box-shadow:
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.03);
}

#input-flag input:focus{
    font-family: 'Inter', sans-serif;
    padding-left: 3rem;
    margin-left: 3rem;
}

ul{
    list-style: none;
}